<!DOCTYPE HTML>
<html>
	<head>
		<title>Cultural Events Sentience</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href={{ "assets/css/main.css" | absURL }} />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">{{.Title}}</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/">Home</a></li>
								<li><a href="/technicalevents">Technical Events</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa-diamond"></span></div>
							<h2>Cultural Events</h2>
							<p>Cultural events of Sentience 2019</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- Four -->
						{{ range $name, $items := .Site.Taxonomies.categories }}
							{{ if gt (len (where $items.Pages "Section" "eq" "culturalevents")) 0}}
							<section id="four" class="wrapper alt style4 {{$name}}">
								<div class="inner">
									<h2 class="major">{{ $name }}</h2>
									<section class="features">
										{{ range where $items.Pages "Section" "eq" "culturalevents"}}
										<article>
											<a href="#" class="image">
												<img 
													src={{.Params.image| absURL}} 
													alt="" 
												/>
											</a>
											<h3 class="major">{{ .Title }}</h3>
											<p>{{ .Description }}</p>
											<a href={{ .Permalink }} class="special">Learn more</a>
										</article>
										{{ end }}
									</section>
									<!-- <ul class="actions"> -->
									<!-- 	<li><a href="#" class="button">Browse All</a></li> -->
									<!-- </ul> -->
								</div>
							</section>
							{{ end }}
							{{ end }}

					</section>

				<!-- Footer -->
					<section id="footer">

						<!-- 	<p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p> -->
						<!-- 	<form method="post" action="#"> -->
						<!-- 		<div class="fields"> -->
						<!-- 			<div class="field"> -->
						<!-- 				<label for="name">Name</label> -->
						<!-- 				<input type="text" name="name" id="name" /> -->
						<!-- 			</div> -->
						<!-- 			<div class="field"> -->
						<!-- 				<label for="email">Email</label> -->
						<!-- 				<input type="email" name="email" id="email" /> -->
						<!-- 			</div> -->
						<!-- 			<div class="field"> -->
						<!-- 				<label for="message">Message</label> -->
						<!-- 				<textarea name="message" id="message" rows="4"></textarea> -->
						<!-- 			</div> -->
						<!-- 		</div> -->
						<!-- 		<ul class="actions"> -->
						<!-- 			<li><input type="submit" value="Send Message" /></li> -->
						<!-- 		</ul> -->
						<!-- 	</form> -->
						<!-- 	<ul class="contact"> -->
						<!-- 		<li class="fa&#45;home"> -->
						<!-- 			Untitled Inc<br /> -->
						<!-- 			1234 Somewhere Road Suite #2894<br /> -->
						<!-- 			Nashville, TN 00000&#45;0000 -->
						<!-- 		</li> -->
						<!-- 		<li class="fa&#45;phone">(000) 000&#45;0000</li> -->
						<!-- 		<li class="fa&#45;envelope"><a href="#">information@untitled.tld</a></li> -->
						<!-- 		<li class="fa&#45;twitter"><a href="#">twitter.com/untitled&#45;tld</a></li> -->
						<!-- 		<li class="fa&#45;facebook"><a href="#">facebook.com/untitled&#45;tld</a></li> -->
						<!-- 		<li class="fa&#45;instagram"><a href="#">instagram.com/untitled&#45;tld</a></li> -->
						<!-- 	</ul> -->
						<!-- 	<ul class="copyright"> -->
						<!-- 		<li>&#38;copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
						<!-- 	</ul> -->
						<!-- </div> -->
					</section>

			</div>

		<!-- Scripts -->
			<script src={{ "assets/js/jquery.min.js" | absURL }}></script>
			<script src={{ "assets/js/jquery.scrollex.min.js" | absURL }}></script>
			<script src={{ "assets/js/browser.min.js" | absURL }}></script>
			<script src={{ "assets/js/breakpoints.min.js" | absURL }}></script>
			<script src={{ "assets/js/util.js" | absURL }}></script>
			<script src={{ "assets/js/main.js" | absURL }}></script>

	</body>
</html>
