<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="js/jquery.stellar.min.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<!-- Main JS -->
<script src="js/moment.js"></script>
<script src="js/timer.js"></script>
<script src="js/main.js"></script>
<!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
<script src="js/jquery.drawsvg.js"></script>
<script type="text/javascript">
	var count = 0
	var colors = ['#9b8131','#2179a5','#1d1d2c','#158c78','#5434ad']
	var colors2 = ['#5434ad','#9b8131','#2179a5','#1d1d2c','#158c78']

	// console.log($('svg'))
    $svg = $('svg').drawsvg({
      callback: function() {
      	// console.log(Object.keys($('path')))

      	Object.keys($('path')).forEach(function(e){
      		// console.log(e)
      		if($('path')[e].style!=undefined){
	      		// console.log($('path')[e].style.stroke)
      			$('path')[e].style.stroke = colors[count]
      		}

      	})
      	Object.keys($('polygon')).forEach(function(e){
      		if($('polygon')[e].style!=undefined){
	      		// console.log($('path')[e].style.stroke)
      			$('polygon')[e].style.stroke = colors2[count]
      		}
      	})
      	// $('path').style.stroke=colors[count]
        // $('#log').html('<p>Animation complete! <strong>' + (count++) + '</strong></p>');
        if(count==colors.length-1){
        		count=0
        }
        else{
	        count++
        }
        animate();

      },
      reverse:true,
      stagger:300
    });

function animate() {
  $svg.drawsvg('animate');  
}

animate();
</script>
